*.mmp
*.M*.mmp
*.***.mmp
*.MMP
*.ppt
*.PPT
*.mdl
*.MDL
*.cat
*.CAT
*.lib
*.LIB
*.iso
*.ISO
*.ssi
*.SSI
*.gz
*.GZ
*.doc
*.DOC
*.docx
*.DOCX
*.exe
*.EXE
*.class
*.CLASS
*.jar
*.JAR
*.war
*.WAR
*.ear
*.EAR
*.rar
*.RAR
*.tar
*.TAR
*.dll
*.DLL
*.zip
*.ZIP
*.msi
*.MSI
#*.bar
#*.BAR
/.project.m*.mmp
*.MMP
*.ppt
*.PPT
*.mdl
*.MDL
*.cat
*.CAT
*.lib
*.LIB
*.iso
*.ISO
*.ssi
*.SSI
*.gz
*.GZ
*.doc
*.DOC
*.docx
*.DOCX
*.exe
*.EXE
*.class
*.CLASS
*.jar
*.JAR
*.war
*.WAR
*.ear
*.EAR
*.rar
*.RAR
*.tar
*.TAR
*.dll
*.DLL
*.zip
*.ZIP
*.msi
*.MSI
#*.bar
#*.BAR
/.project*.*.mmp
*.MMP
*.ppt
*.PPT
*.mdl
*.MDL
*.cat
*.CAT
*.lib
*.LIB
*.iso
*.ISO
*.ssi
*.SSI
*.gz
*.GZ
*.doc
*.DOC
*.docx
*.DOCX
*.exe
*.EXE
*.class
*.CLASS
*.jar
*.JAR
*.war
*.WAR
*.ear
*.EAR
*.rar
*.RAR
*.tar
*.TAR
*.dll
*.DLL
*.zip
*.ZIP
*.msi
*.MSI
#*.bar
#*.BAR
/.projectmmp

*.MMP
*.ppt
*.PPT
*.mdl
*.MDL
*.cat
*.CAT
*.lib
*.LIB
*.iso
*.ISO
*.ssi
*.SSI
*.gz
*.GZ
*.doc
*.DOC
*.docx
*.DOCX
*.exe
*.EXE
*.class
*.CLASS
*.jar
*.JAR
*.war
*.WAR
*.ear
*.EAR
*.rar
*.RAR
*.tar
*.TAR
*.dll
*.DLL
*.zip
*.ZIP
*.msi
*.MSI
#*.bar
#*.BAR
/.projectMMP
*.ppt
*.PPT
*.mdl
*.MDL
*.cat
*.CAT
*.lib
*.LIB
*.iso
*.ISO
*.
*.SSI
*.gz
*.GZ
*.doc
*.DOC
*.docx
*.DOCX
*.exe
*.EXE
*.class
*.CLASS
*.jar
*.JAR
*.war
*.WAR
*.ear
*.EAR
*.rar
*.RAR
*.tar
*.TAR
*.dll
*.DLL
*.zip
*.ZIP
*.msi
*.MSI
#*.bar
#*.BAR
/.project*.mmp
*.MMP
*.ppt
*.PPT
*.mdl
*.MDL
*.cat
*.CAT
*.lib
*.LIB
*.iso
*.ISO
*.ssi
*AT
*.lib
*.LIB
*.iso
*.ISO
*.ssi
*.SSI
*.gz
*.GZ
*.doc
*.DOC
*.docx
*.DOCX
*.exe
*.EXE
*.class
*.CLASS
*.jar
*.JAR
*.war
*.WAR
*.ear
*.EAR
*.rar
*.RAR
*.tar
*.TAR
*.dll
*.DLL
*.zip
*.ZIP
*.msi
*.MSI
#*.bar
#*.BAR
/.project
*.gz
*.GZ
*.doc
*.DOC
*.docx
*.DOCX
*.exe
*.EXE
*.class
*.CLASS
*.jar
*.JAR
*.war
*.WAR
*.ear
*.EAR
*.rar
*.RAR
*.tar
*.TAR
*.dll
*.DLL
*.zip
*.ZIP
*.msi
*.MSI
#*.bar
#*.BAR
/.projectmp
*.MMP
*.ppt
*.PPT
*.mdl
*.MDL
*.cat
*.CAT
*.lib
*.LIB
*.iso
*.ISO
*.ssi
*.SSI
*.gz
*.GZ
*.doc
*.DOC
*.docx
*.DOCX
*.exe
*.EXE
*.class
*.CLASS
*.jar
*.JAR
*.war
*.WAR
*.ear
*.EAR
*.rar
*.RAR
*.tar
*.TAR
*.dll
*.DLL
*.zip
*.ZIP
*.msi
*.MSI
#*.bar
#*.BAR
/.project.mmp
*.MMP
*.ppt
*.PPT
*.mdl
*.MDL
*.cat
*.CAT
*.lib
*.LIB
*.iso
*.ISO
*.ssi
*.SSI
*.gz
*.GZ
*.doc
*.DOC
*.docx
*.DOCX
*.exe
*.EXE
*.class
*.CLASS
*.jar
*.JAR
*.war
*.WAR
*.ear
*.EAR
*.rar
*.RAR
*.tar
*.TAR
*.dll
*.DLL
*.zip
*.ZIP
*.msi
*.MSI
#*.bar
#*.BAR
/.projectMMP
*.ppt
*.PPT
*.mdl
*.MDL
*.cat
*.CAT
*.lib
*.mmp
*.MMP
*.ppt
*.PPT
*.mdl
*.MDL
*.cat
*.CAT
*.lib
*.LIB
*.iso
*.ISO
*.ssi
*.SSI
*.gz
*.GZ
*.doc
*.DOC
*.docx
*.DOCX
*.exe
*.EXE
*.class
*.CLASS
*.jar
*.JAR
*.war
*.WAR
*.ear
*.EAR
*.rar
*.RAR
*.tar
*.TAR
*.dll
*.DLL
*.zip
*.ZIP
*.msi
*.MSI
#*.bar
#*.BAR
/.project*.LIB
*.iso
*.ISO
*.ssi
*.SSI
*.gz
*.GZ
*.doc
*.DOC
*.docx
*.DOCX
*.exe
*.EXE
*.class
*.CLASS
*.jar
*.JAR
*.war
*.WAR
*.ear
*.EAR
*.rar
*.RAR
*.tar
*.TAR
*.dll
*.DLL
*.zip
*.ZIP
*.msi
*.MSI
#*.bar
#*.BAR
/.projectMP
*.ppt
*.PPT
*.mdl
*.MDL
*.cat
*.CAT
*.lib
*.LIB
*.iso
*.ISO
*.ssi
*.SSI
*.gz
*.GZ
*.doc
*.DOC
*.docx
*.DOCX
*.exe
*.EXE
*.class
*.CLASS
*.jar
*.JAR
*.war
*.WAR
*.ear
*.EAR
*.rar
*.RAR
*.tar
*.TAR
*.dll
*.DLL
*.zip
*.ZIP
*.msi
*.MSI
#*.bar
#*.BAR
/.project
